*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: rgb(29,29,35);
    color:white;
    font-family: 'Open Sans', sans-serif;
}
body{
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 0.5rem;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background-color: rgb(52, 52, 74);
    padding: 2%;
    width: 40%;
    margin-left: 30%;
    border-radius: 10px;
}
.set-time{
    background-color: rgb(52, 52, 74);
}
.time-container{
    padding-left: 5rem;
    background-color: rgb(52, 52, 74);
}
.set {
    padding-left: 5rem;
    background-color: rgb(52, 52, 74);
}
.set button{
    width: 100px;
    height: 30px;
    background-color: rgb(240, 247, 87);
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 20px;
}
.para{
    margin: 3rem auto;
    padding: 10px 30px 10px 30px;
    background-color: rgb(57, 57, 62);
    border-radius: 30px;
    width: 25%;
}
.time input[type=time]{
    outline: none;
    background-color: rgb(52, 52, 74);
    border: none;
    font-size: x-large;
}
.time input[type=time]::-webkit-calendar-picker-indicator {
    display: none;
}
#time-left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1rem;
    border: none;
    border-radius: 30px;
}
.bottom-container{
    display: flex;
    background-color: rgb(52, 52, 74);
    width: 30%; 
    height: 50px; 
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 1%;
}
.time-remaining{
    background-color: rgb(52, 52, 74);
}
.time-left{
    background-color: rgb(52, 52, 74);
}
.time-button{
    
    background-color: rgb(52, 52, 74);
}
.time-button button{
    width: 80px;
    height: 25px;
    background-color: rgb(240, 247, 87);
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 20px;
}